body {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}

.sidenav {
  /* display: block; */
  height: 100%;
  /* width: 0; */
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
  /* background-color: rgb(10, 10, 10); */
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 70px; */
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #f1f1f1;
}

#main {
  transition: margin-left 0.5s;
  padding-top: 16px;
}

.sidemenu-slider {
  cursor: pointer;
  color: blue;
}

#sidemenu {
}
